.innterDiameter {
  display: none;
}

.sizeA {
  /* fill: var(--sizeAColor); */
  /* color: var(--sizeAColor); */
}

.sizeB {
    fill: var(--sizeBColor);
    color: var(--sizeBColor);
  }

/* .sizeA.hovered {
  display: block;
  color: var(--sizeAColorLight);
  fill: var(--sizeAColorLight);
}

.sizeB.hovered {
    display: block;
    color: var(--sizeBColorLight);
    fill: var(--sizeBColorLight);
  }
   */