@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverUnderline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0;
  }

  .hoverUppererline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --sizeAColor: #0b7c0b;
  --sizeAColorLight: #3bc83b;

  --sizeBColor: #0c5095;
  --sizeBColorLight: #3ba7c8;
}